---
Language: Cpp
BasedOnStyle: LLVM

Standard: c++17
ColumnLimit: 100

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: BeforeColon

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

IndentCaseLabels: true
SortIncludes: true
...
